body {
  background-color: #028090;
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  background-color: #e8f1f2;
  width: 400px;
  height: 90px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
}

main {
  margin: 0 auto;
  width: 400px;
  padding: 0 20px 20px;
  background-color: #e8f1f2;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: #e8f1f2;
  width: 400px;
  padding-bottom: 20px;
}

.heading {
  text-align: center;
  font-size: 40px;
  color: #028090;
}

.copyright {
  color: #028090;
  font-weight: 600;
}
.copyright a {
  color: #114B5F;
  text-decoration: none;
}
.copyright a:hover {
  color: #1d2d44;
  text-decoration: underline;
  text-decoration-color: #F45B69;
  text-decoration-thickness: 2px;
}

.buttons-grid {
  display: grid;
  gap: 1px;
  height: 450px;
  grid-template:
    'clear backspace power divide'
    'seven eigth nine multiply'
    'four five six minus'
    'one two three plus'
    'zero decimal equal plus';
}

.screen {
  display: grid;
  justify-items: end;
  width: 360px;
  height: 90px;
  padding: 15px;
  background-color: #028090;
  margin-bottom: 15px;
  color: #e8f1f2;
  overflow: hidden;
}

#history {
  align-self: start;
  overflow: hidden;
  white-space: nowrap;
}

#input {
  font-size: 30px;
  align-self: end;
  overflow: hidden;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #e8f1f2;
  background-color: #028090;
  cursor: pointer;
  transition: all 0.2s;
  user-select: none;
  border: none;
}

.button:hover {
  background-color: #1d2d44;
  transition: all 0.2s;
}

.operator,
.equal {
  background-color: #114B5F;
}

.clear,
.backspace {
  background-color: #F45B69;
}

#number-0 {
  grid-area: zero;
}
#number-1 {
  grid-area: one;
}
#number-2 {
  grid-area: two;
}
#number-3 {
  grid-area: three;
}
#number-4 {
  grid-area: four;
}
#number-5 {
  grid-area: five;
}
#number-6 {
  grid-area: six;
}
#number-7 {
  grid-area: seven;
}
#number-8 {
  grid-area: eigth;
}
#number-9 {
  grid-area: nine;
}
#decimal {
  grid-area: decimal;
}
#equal {
  grid-area: equal;
}
#plus {
  grid-area: plus;
}
#minus {
  grid-area: minus;
}
#multiply {
  grid-area: multiply;
}
#divide {
  grid-area: divide;
}
#power {
  grid-area: power;
}
#backspace {
  grid-area: backspace;
}
#clear {
  grid-area: clear;
}
